@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Martian B Thai";
  src: url("/public/assets/fonts/fonnts.com-martianbthai-regular.otf")
    format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian B Thai";
  src: url("/public/assets/fonts/fonnts.com-martianbthai-medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian B Thai";
  src: url("/public/assets/fonts/fonnts.com-martianbthai-semibold.otf")
    format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian B Thai";
  src: url("/public/assets/fonts/fonnts.com-martianbthai-bold.otf")
    format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Martian B Thai";
  src: url("/public/assets/fonts/fonnts.com-martianbthai-black.otf")
    format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-Poppins: Poppins, sans-serif;
  --font-MartianBThai: "Martian B Thai", sans-serif;

  /* Colors */

  /* Primary */
  --color-primary-5: #07f4fa;
  --color-primary-10: #07f4fa;
  --color-primary-15: #6ecaf8;
  --color-primary-20: #06a0ed;
  --color-primary-30: #0696e7;
  --color-primary-40: #06a0ed33;
  --color-primary-50: #91a0b5;
  --color-primary-60: #101742;
  --color-primary-70: #2c5970;

  /* neutral */

  --color-neutral-10: #fcfcfc;
  --color-neutral-15: #fafcfd;
  --color-neutral-20: #f5f5f5;
  --color-neutral-30: #d8d8d8;
  --color-neutral-40: #bababa;
  --color-neutral-50: #b3b3b3;
  --color-neutral-60: #aaaaaa;
  --color-neutral-65: #979797;
  --color-neutral-70: #616161;
  --color-neutral-80: #272727;
  --color-neutral-85: #c7c7c726;
  --color-neutral-90: #727272;

  /* accent */
  --color-accent-10: #000000;
  --color-accent-20: #00000033;
  --color-accent-30: #00000066;

  /* whites */
  --color-whites-05: #ffffff0d;
  --color-whites-10: #ffffff1a;
  --color-whites-20: #ffffff26;
  --color-whites-30: #ffffff8c;
  --color-whites-40: #ffffff0d;
  --color-whites-50: #ffffff33;
  --color-whites-60: #ffffff66;

  /* Shadows */
  /* --shadow-custom: 0px 4px 28px -4px rgba(0, 0, 0, 0.10);
   --shadow-custom-joinus: 0px 0px 56px 24px rgba(255, 255, 255, 0.10);
   --shadow-custom-hero: 0px 4px 250px 16px #A276FA;
   --shadow-custom-button: 0px -2px 2px 0px rgba(255, 255, 255, 0.05) inset, 0px 12px 45px 0px rgba(137, 81, 246, 0.35); */

  /* Gradients */
  --bg-gradient-primary: linear-gradient(180deg, #06a0ed 100%, #6ecaf8 100%);
  --bg-project-bg-gradient: linear-gradient(
    180deg,
    #020817 0%,
    rgba(2, 8, 23, 0) 100%
  );
  --bg-about-bg-gradient: linear-gradient(
    180deg,
    #06a0ed 0%,
    rgba(3, 91, 135, 0) 100%
  );
  --bg-about-bg-gradient2: linear-gradient(
    180deg,
    #06a0ed 0%,
    rgba(3, 91, 135, 0) 100%
  );
  --bg-our-projects-bg-gradient: linear-gradient(
    180deg,
    #1a1e27 0%,
    #0a1222 100%
  );

  --bg-service-gradient: linear-gradient(180deg, #284888 0%, #0a1222 100%);
  --bg-faq-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(114, 114, 114, 0.05) 100%
  );
  --bg-faq-bg-gradient: linear-gradient(
    to right,
    rgba(6, 160, 237, 1) 0%,
    rgba(6, 160, 237, 0.2) 60%,
    rgba(11, 19, 36, 0) 100%
  );

  /* --bg-gradient-dark: linear-gradient(180deg, rgba(124, 67, 215, 0.00) 0%, rgba(124, 67, 215, 0.05) 23.44%, rgba(124, 67, 215, 0.05) 100%); */
}

.bg-gradient-primary {
  background: var(--bg-gradient-primary);
}

/* Custom scrollbar for a specific section */
.custom-scrollbar {
  overflow-y: auto;
  max-height: 400px;
  /* Adjust height as needed */
}

/* Scrollbar Track (non-scrolled area) */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  /* Scrollbar width */
}

/* Scrollbar Thumb (scrolled area) */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1d293d;
  /* Dark blue scrollbar */
  border-radius: 4px;
}

/* Scrollbar Track (background) */
.custom-scrollbar::-webkit-scrollbar-track {
  background: #020618;
  /* Dark background for non-scrolled area */
}

/* Only apply to divs with custom-scrollbar class */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px; /* for horizontal scrolling */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}
